:root {
    --heading-2-font-family: "Inter-SemiBold", Helvetica;
    --heading-2-font-weight: 600;
    --heading-2-font-size: 56px;
    --heading-2-letter-spacing: -2.200000047683716px;
    --heading-2-line-height: normal;
    --heading-2-font-style: normal;
    --paragraph-1-font-family: "Inter-Regular", Helvetica;
    --paragraph-1-font-weight: 400;
    --paragraph-1-font-size: 20px;
    --paragraph-1-letter-spacing: 0px;
    --paragraph-1-line-height: normal;
    --paragraph-1-font-style: normal;
    --heading-3-font-family: "Inter-SemiBold", Helvetica;
    --heading-3-font-weight: 600;
    --heading-3-font-size: 40px;
    --heading-3-letter-spacing: 0px;
    --heading-3-line-height: normal;
    --heading-3-font-style: normal;
    --paragraph-2-font-family: "Inter-Regular", Helvetica;
    --paragraph-2-font-weight: 400;
    --paragraph-2-font-size: 16px;
    --paragraph-2-letter-spacing: 0px;
    --paragraph-2-line-height: normal;
    --paragraph-2-font-style: normal;
  }
  